// neutral
$neutral-00: #fff;
$neutral-10: #f7f9fd;
$neutral-20: #f0f3fa;
$neutral-60: #969fae;
$neutral-70: #717a89;
$neutral-80: #494f59;
$neutral-90: #1f2226;

// blue
$blue-10: #ebf5fa;
$blue-50: #0085e0;
$blue-70: #084e8a;
